<!DOCTYPE html>
<html>
<head>
  <title>Self-Talk Polarity Reverser</title>
 <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
</head>
<body>


<h1 class= "comfort">Type your negative self-talk here:</h1>

<form action="/" method="post">
  <input type="text" name="affirmation">
  <input type="submit" value="Fix it for me">

</form>

</body>
</html>