
<div class="central">
<h1 class= "comfort">Type your negative self-talk here:</h1>

<form action="/" method="post">
  <input type="text" name="affirmation">
  <input type="submit" value="Fix it for me">

</form>
</div>
