<!DOCTYPE html>
<html>
<head>
  <title>Negative Self-Talk Polarity Reverser</title>
 <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id='form'>
<%= yield  %>
</div>

</body>
</html>